@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --gradient-start: #30c2e2;
  --gradient-end: #e020f1;

  --primary-color: #1b80a4;

  --text-primary: #000000;
  --text-secondary: #4c4c4c;

  scroll-behavior: smooth;
}
[data-theme="dark"] {
  --background: #000000;
  --gradient-start: #30c2e2;
  --gradient-end: #e020f1;

  --primary-color: #1b80a4;

  --text-primary: #ffffff;
  --text-secondary: #a8a8a8;
}

@theme {
  --color-background: #000000;

  --color-primary: #1b80a4;
  --color-primary-hover: #196986;
  --color-primary-active: #2192bb;

  --color-secondary: #30c2e2;
  --color-tertiary: #e020f1;

  --color-card-bg: #0b0b0b;
  --color-card-border: #333333;

  --color-text-primary: #ffffff;
  --color-text-secondary: #a8a8a8;
}

.gradient-text {
  background: linear-gradient(to right, #30c2e2, #e020f1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  padding-bottom: 6px;
}
.bg-black-gradient {
  background: #000000;
  background: linear-gradient(
    110deg,
    rgba(0, 0, 0, 1) 34%,
    rgba(0, 0, 0, 0.88) 38%,
    rgba(0, 0, 0, 0.79) 42%,
    rgba(0, 0, 0, 0.57) 45%,
    rgba(0, 0, 0, 0.07) 49%,
    rgba(0, 0, 0, 0) 53%
  );
}
.bg-black-gradient-top {
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.58) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
.bg-black-gradient-bottom {
  background: #000000;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.58) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}
section {
  scroll-margin-top: 100px;
}

@layer utilities {
  @keyframes fade-left {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-right {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Clases base para animaciones */
  .animate-fade-left {
    animation: fade-left 450ms ease-in 0ms 1;
  }

  .animate-fade-right {
    animation: fade-right 450ms ease-in 0ms 1;
  }

  .animate-fade-up {
    animation: fade-up 450ms ease-in 0ms 1;
  }

  .animate-fade-down {
    animation: fade-down 450ms ease-in 0ms 1;
  }

  /* Modificadores para duración */
  .animate-duration-300 {
    animation-duration: 300ms;
  }

  .animate-duration-450 {
    animation-duration: 450ms;
  }

  .animate-duration-600 {
    animation-duration: 600ms;
  }

  .animate-duration-1000 {
    animation-duration: 1000ms;
  }

  /* Modificadores para retraso */
  .animate-delay-100 {
    animation-delay: 100ms;
  }

  .animate-delay-200 {
    animation-delay: 200ms;
  }

  .animate-delay-300 {
    animation-delay: 300ms;
  }

  .animate-delay-500 {
    animation-delay: 500ms;
  }

  /* Modificadores para easing */
  .animate-ease-linear {
    animation-timing-function: linear;
  }

  .animate-ease-in {
    animation-timing-function: ease-in;
  }

  .animate-ease-out {
    animation-timing-function: ease-out;
  }

  .animate-ease-in-out {
    animation-timing-function: ease-in-out;
  }

  /* Modificadores para repetición */
  .animate-once {
    animation-iteration-count: 1;
  }

  .animate-repeat-2 {
    animation-iteration-count: 2;
  }

  .animate-infinite {
    animation-iteration-count: infinite;
  }
}
