* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  --primary-color: #30c2e2;
  --secondary-color: #e020f1;
  --tertiary-color: #1b80a4;
  --white: #ffffff;

  --secondary-hover: #ffffff;
  --tertiary-hover: #106483;

  --transparent-black: #00000061;
  --transparent-white: rgba(255, 255, 255, 0.1);

  --light-text-color: #ffffff;
  --dark-text-color: #a8a8a8;

  --audit-card-bg: rgba(0, 0, 0, 0.331);
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white;
}
